@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body{
    background-color: #FFFFFF;
    font-family: Inter;
}
.menu{
    height: 96px;
    align-items: center;
}
.tabs{
    display: inline-flex;
}
.tabs-mobile{
    display: none;
}
.tabs a, .tabs-mobile a {
    text-decoration: none;
    color: #000000;
    margin-right: 30px;
}
.form-button{
    display: inline-flex;
    flex-wrap: nowrap;
}
.circuloAzul{
    color: #FFFFFF;
    background-color: #006BFF;
    width: 27px;
    height: 27px;
    position: absolute;
    left: -14px;
}
/*          Imagenes            */

.logos{
    width: 100%;
    justify-content: space-between;
    opacity: 0.5;
}
.logos img{
    height: 23px;
}
.header-img{
    min-width: 328px;
    max-width: 486px;
}
.icono-hamburguesa{
    display: none;
}
.logo{
    height: 32px;
}
.img-mobile{
    display: none;
}

/*          Botones             */

.register-button{
    color: #FFFFFF;
    background-color: #006BFF;
    padding: 5px 20px;
    font-size: 13px;
}

.register-button--black{
    background-color: #000000;
    transform: translate(-45px, 0px);
}

.buttonWhite{
    border: 1px solid #000000;
    background-color: #FFFFFF;
    padding: 5px 20px;
    font-size: 13px;
}
.btn-align{
    display: flex;
    align-self: center;
    margin-left: -20px;
}
.btn:hover {
    color: #FFFFFF;
    text-decoration: none;
}

/*          Margenes            */

.m-top-24{
    margin-top: 24px;
}
.m-top-40{
    margin-top: 40px;
}
.m-top-64{
    margin-top: 64px;
}
.m-top-128{
    margin-top: 128px;
}
.m-top-136{
    margin-top: 136px;
}
.m-right-24{
    margin-right: 24px;
}
.m-bottom-128{
    margin-bottom: 128px;
}
.m-tb-80{
    margin-top: 80px;
    margin-bottom: 80px;
}
.m-tb-96{
    margin-top: 96px;
    margin-bottom: 96px;
}
.m-lr-auto{
    margin-left: auto;
    margin-right: auto;
}
.m-lr-83{
    margin-left: 83px;
    margin-right: 83px;
}
.m-lr-118{
    margin-left: 118px;
    margin-right: 118px;
}
.m-lr-204{
    margin-left: 204px;
    margin-right: 204px;
}
.p-0{
    padding: 0;
}
.p-left-30{
    padding-left: 30px;
}

/*          Utilidades          */

.u-txt-14{
    font-size: 14px;
    font-weight: 600;
    line-height: 24px;
}
.u-txt-16{
    font-size: 16px;
    line-height: 32px;
    font-weight: 400;
}
.u-txt-18{
    font-size: 18px;
    font-weight: 400;
    line-height: 36px;
}
.u-txt-24{
    font-size: 24px;
    font-weight: 900;
    line-height: 32px;
}
.u-txt-32{
    font-size: 32px;
    font-weight: 900;
    line-height: 40px;
}
.u-txt-40{
    font-size: 40px;
    line-height: 48px;
    font-weight: 900;
}
.u-txt-52{
    font-size: 52px;
    font-weight: 900;
    line-height: 65px;
}
.u-txt-90{
    font-size: 90px;
    line-height: 90px;
    font-weight: 900;
}
.u-txt-blue{
    color: #006BFF;
}
.u-txt-center{
    text-align: center;
}
.u-fw-500{
    font-weight: 500;
}
.u-fw-600{
    font-weight: 600;
}
.u-opacity-064{
    opacity: 0.64;
}
.u-align-space{
    align-items: center;
    justify-content: space-between;
}
.u-justify-center{
    justify-content: center;
}
.u-justify-unset{
    justify-content: unset;
}
.u-flex-column{
    flex-direction: column;
}
.u-align-item-center{
    align-items: center;
}
.u-align-justify-center{
    align-content: flex-start;
    justify-content: space-between;
}
.u-float-right{
    float: right;
}
.u-boder-left-CE{
    border-left: 1px solid #CECECE;
}
.u-border-radius-20{
    border-radius: 20px;
}
.u-bg-FB{
    background-color: #FBFBFB;
}
.u-width-50{
    width: 50%
}
.u-width-54{
    width: 54%;
}
.u-width-100{
    width: 100%;
}
.u-word-break{
    word-break: break-word;
}